.idea
.vscode
.vs
cmake-build-*
build
out
CMakeSettings.json
compile_commands.json
.cache/
vcpkg_installed/
CMakeFiles/
CMakeCache.txt
Makefile
cmake_install.cmake
vcpkg-bootstrap.log
vcpkg-manifest-install.log
.DS_Store